{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">👁 Просмотренные</h2>

<div class="row">
{% for m in movies %}
<div class="col-md-3 mb-4">

    <div class="movie-card shadow">

        <img src="/static/uploads/posters/{{m.poster}}" class="movie-img">

        <div class="p-2">
            <h5>{{m.title}}</h5>

            <a href="/movie/{{m.id}}" class="btn btn-primary w-100">
                Открыть
            </a>
        </div>

    </div>

</div>
{% endfor %}
</div>

{% endblock %}
