{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

    <h2 class="mb-4 text-center">✏️ Редактировать фильм</h2>

    <div class="card p-4 shadow"
         style="border-radius:15px; max-width:600px; margin:auto;">

        <form method="post" enctype="multipart/form-data">

            <!-- НАЗВАНИЕ -->
            <input type="text"
                   name="title"
                   class="form-control mb-2"
                   value="{{movie.title}}"
                   placeholder="Название"
                   required>

            <!-- ОПИСАНИЕ -->
            <textarea name="description"
                      class="form-control mb-2"
                      rows="4"
                      placeholder="Описание"
                      required>{{movie.description}}</textarea>

            <!-- ЖАНР -->
            <input type="text"
                   name="genre"
                   class="form-control mb-2"
                   value="{{ movie.genre or '' }}"
                   placeholder="Жанр (например: Боевик, Драма)">

            <!-- СТРАНА -->
            <input type="text"
                   name="country"
                   class="form-control mb-2"
                   value="{{ movie.country or '' }}"
                   placeholder="Страна">

            <!-- РЕЖИССЁР -->
            <input type="text"
                   name="director"
                   class="form-control mb-2"
                   value="{{ movie.director or '' }}"
                   placeholder="Режиссёр">

            <!-- ДЛИТЕЛЬНОСТЬ -->
            <input type="text"
                   name="duration"
                   class="form-control mb-3"
                   value="{{ movie.duration or '' }}"
                   placeholder="Длительность (например: 120 мин)">

            <!-- ПОСТЕР -->
            <label class="form-label">Баннер (главная):</label>
            <input type="file"
                   name="poster"
                   class="form-control mb-2">

            <!-- ПОСТЕР 2 -->
            <label class="form-label">Баннер (страница фильма):</label>
            <input type="file"
                   name="poster2"
                   class="form-control mb-3">

            <!-- КНОПКА -->
            <button class="btn btn-success w-100">
                💾 Сохранить изменения
            </button>

        </form>

    </div>

</div>

{% endblock %}
