{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">
    ⭐ Избранное
    <span id="favorites-count" class="badge bg-warning text-dark">
        {{ favorites_count }}
    </span>
</h2>

<button id="clear-favorites-btn" class="btn btn-danger mb-3">
    🗑 Очистить избранное
</button>



<div class="favorites-page">



{% for m in movies %}
<div class="movie-col">


    <!-- 🔥 ВАЖНО: position-relative -->
    <div class="movie-card shadow position-relative">

        <!-- 🔥 КНОПКА -->
        <div class="favorite-remove-btn active"
             data-id="{{m.id}}">
            <span class="icon">🗑</span>

            <span class="text">Убрать</span>
        </div>



        <!-- ПОСТЕР -->
        {% if m.poster %}
        <img src="/static/uploads/posters/{{m.poster}}" class="movie-img">
        {% else %}
        <img src="/static/img/default.png" class="movie-img">
        {% endif %}

        <div class="movie-info p-2">

            <h5>{{m.title}}</h5>

            <a href="/movie/{{m.id}}" class="btn btn-primary w-100">
                Подробнее
            </a>

        </div>

    </div>

</div>
{% endfor %}

</div>

{% endblock %}
