{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height:70vh;">

    <div class="card p-4 shadow-lg" style="width:400px; border-radius:20px;">

        <h3 class="text-center mb-3">Регистрация</h3>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="post">

            <input name="display_name"
                   class="form-control mb-2"
                   placeholder="Имя"
                   required>

            <input name="username"
                   class="form-control mb-2"
                   placeholder="Логин (мин 6 символов)"
                   required>

            <!-- ПАРОЛЬ -->
            <div class="position-relative mb-2">

                <input id="reg_password"
                       name="password"
                       type="password"
                       class="form-control"
                       placeholder="Пароль"
                       required>

                <span onclick="togglePassword('reg_password', this)"
                      style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
                    👁
                </span>

            </div>

            <!-- ПОВТОР ПАРОЛЯ -->
            <div class="position-relative mb-3">

                <input id="reg_confirm"
                       name="confirm"
                       type="password"
                       class="form-control"
                       placeholder="Повторите пароль"
                       required>

                <span onclick="togglePassword('reg_confirm', this)"
                      style="position:absolute; right:10px; top:50%; transform:translateY(-50%); cursor:pointer;">
                    👁
                </span>

            </div>

            <button class="btn btn-success w-100">Зарегистрироваться</button>

        </form>

    </div>

</div>

{% endblock %}
